# Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Reading excel file of COL

In [2]:
df = pd.read_excel('col_v2.xlsx')
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x52,x53,x54,x55,data_quality,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,22067.70,10971.90,2689.62,3.47,1,NaN,NaN,NaN,NaN,NaN
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,17746.11,9416.35,1419.87,5.03,1,NaN,NaN,167.0,NaN,4033.0
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,12892.82,5427.45,1211.68,5.19,1,NaN,NaN,1073.0,NaN,NaN
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,6092.45,2777.51,640.81,7.96,1,NaN,NaN,160.0,NaN,NaN
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,2506.73,1036.74,586.46,8.06,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4952,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4953,Ixtapa Zihuatanejo,Mexico,5.16,30.94,12.89,0.98,NaN,1.80,0.62,0.41,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4954,Iqaluit,Canada,29.65,74.27,13.71,6.67,8.89,3.71,3.52,4.08,...,NaN,NaN,NaN,6.53,0,NaN,NaN,NaN,NaN,NaN
4955,Neiafu,Tonga,NaN,29.79,10.64,10.64,NaN,NaN,2.13,2.13,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

## Dropping unwanted columns

In [3]:
df.drop(columns=['Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62'], inplace=True)
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4952,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4953,Ixtapa Zihuatanejo,Mexico,5.16,30.94,12.89,0.98,NaN,1.80,0.62,0.41,...,103.14,412.55,257.84,515.69,412.55,NaN,NaN,NaN,NaN,0
4954,Iqaluit,Canada,29.65,74.27,13.71,6.67,8.89,3.71,3.52,4.08,...,NaN,NaN,NaN,2964.60,2964.60,NaN,NaN,NaN,6.53,0
4955,Neiafu,Tonga,NaN,29.79,10.64,10.64,NaN,NaN,2.13,2.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
df.drop(columns=['data_quality'],inplace=True)
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,70.81,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,88.21,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,66.73,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,49.87,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,49.99,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4952,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4953,Ixtapa Zihuatanejo,Mexico,5.16,30.94,12.89,0.98,NaN,1.80,0.62,0.41,...,77.35,103.14,412.55,257.84,515.69,412.55,NaN,NaN,NaN,NaN
4954,Iqaluit,Canada,29.65,74.27,13.71,6.67,8.89,3.71,3.52,4.08,...,NaN,NaN,NaN,NaN,2964.60,2964.60,NaN,NaN,NaN,6.53
4955,Neiafu,Tonga,NaN,29.79,10.64,10.64,NaN,NaN,2.13,2.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Sorting COL dataset based on Country

In [5]:
df_sorted = df.sort_values(by='country')
df_sorted

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
2767,Gardez,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,Mazar-e Sharif,Afghanistan,1.69,7.81,2.99,NaN,NaN,0.45,0.34,0.16,...,NaN,NaN,67.80,33.90,112.99,56.50,282.49,112.99,225.99,NaN
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.15,39.55,112.99,79.10,480.78,248.42,152.54,10.30
1857,Shibirghan,Afghanistan,1.69,7.81,2.99,NaN,NaN,0.45,0.34,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Kabul,Afghanistan,1.69,5.65,3.11,NaN,NaN,0.93,0.23,0.13,...,30.51,36.16,108.92,64.97,228.81,146.89,694.92,355.93,195.86,13.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,60.00,NaN,300.00,150.00,NaN,582.52,NaN,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,296.43,296.00,887.50,762.50,1344.10,1500.00,272.22,15.00
4428,Karoi,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.8,2.83,0.50,NaN,...,62.50,65.00,233.33,123.33,416.67,366.67,900.00,NaN,350.00,NaN
4293,Redcliff,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00

## Dropping null values

In [6]:
exclude_columns = ['city', 'country']
df_cleaned = df_sorted.dropna(subset=df_sorted.columns.difference(exclude_columns), how='all')
df_cleaned

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
2767,Gardez,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,Mazar-e Sharif,Afghanistan,1.69,7.81,2.99,NaN,NaN,0.45,0.34,0.16,...,NaN,NaN,67.80,33.90,112.99,56.50,282.49,112.99,225.99,NaN
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.15,39.55,112.99,79.10,480.78,248.42,152.54,10.30
1857,Shibirghan,Afghanistan,1.69,7.81,2.99,NaN,NaN,0.45,0.34,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Kabul,Afghanistan,1.69,5.65,3.11,NaN,NaN,0.93,0.23,0.13,...,30.51,36.16,108.92,64.97,228.81,146.89,694.92,355.93,195.86,13.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,60.00,NaN,300.00,150.00,NaN,582.52,NaN,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,296.43,296.00,887.50,762.50,1344.10,1500.00,272.22,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.8,2.83,0.50,NaN,...,62.50,65.00,233.33,123.33,416.67,366.67,900.00,NaN,350.00,NaN
4293,Redcliff,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00

## Copying dataset to df2

In [7]:
df2=df_cleaned.copy()
df2

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
2767,Gardez,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,Mazar-e Sharif,Afghanistan,1.69,7.81,2.99,NaN,NaN,0.45,0.34,0.16,...,NaN,NaN,67.80,33.90,112.99,56.50,282.49,112.99,225.99,NaN
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.15,39.55,112.99,79.10,480.78,248.42,152.54,10.30
1857,Shibirghan,Afghanistan,1.69,7.81,2.99,NaN,NaN,0.45,0.34,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Kabul,Afghanistan,1.69,5.65,3.11,NaN,NaN,0.93,0.23,0.13,...,30.51,36.16,108.92,64.97,228.81,146.89,694.92,355.93,195.86,13.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,60.00,NaN,300.00,150.00,NaN,582.52,NaN,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,296.43,296.00,887.50,762.50,1344.10,1500.00,272.22,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.8,2.83,0.50,NaN,...,62.50,65.00,233.33,123.33,416.67,366.67,900.00,NaN,350.00,NaN
4293,Redcliff,Zimbabwe,7.00,40.00,6.00,1.30,2.0,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00

## Dropping rows where non-null(filled) values are less than 47(threshold value)

In [8]:
threshold_nonnulls = len(df2.columns) - 10

# Drop rows where the number of non-null values is below the threshold
df2_cleaned = df2.dropna(thresh=threshold_nonnulls)
df2_cleaned

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.15,39.55,112.99,79.10,480.78,248.42,152.54,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,NaN,NaN,0.93,0.23,0.13,...,30.51,36.16,108.92,64.97,228.81,146.89,694.92,355.93,195.86,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,76.27,84.45,117.14,90.11,225.28,180.22,450.55,NaN,333.41,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,52.69,63.22,210.75,158.06,474.19,316.12,1053.75,632.25,526.87,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,47.17,100.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,90.18,105.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,60.00,NaN,300.00,150.00,NaN,582.52,NaN,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,296.43,296.00,887.50,762.50,1344.10,1500.00,272.22,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,NaN,...,62.50,65.00,233.33,123.33,416.67,366.67,900.00,NaN,350.00,NaN

## Checking for null values

In [9]:
df2_cleaned.isnull().sum()

city          0
country       0
x1           13
x2           28
x3           10
x4           32
x5           32
x6           12
x7           17
x8           14
x9            3
x10           6
x11           9
x12          36
x13          38
x14          35
x15          29
x16           5
x17           5
x18           7
x19          24
x20          11
x21           7
x22          36
x23          11
x24          26
x25          78
x26          58
x27          23
x28         441
x29         866
x30         112
x31         165
x32         360
x33          33
x34         167
x35         163
x36          29
x37         283
x38           9
x39         368
x40        1040
x41          21
x42         200
x43         553
x44          19
x45          23
x46          31
x47          19
x48         347
x49         369
x50         398
x51         415
x52         933
x53         970
x54         395
x55         160
dtype: int64

## Dropping columns x29(Monthly pass) and x40(tennis court rent for 1 hr) as it contains many null values

In [10]:
columns_to_drop = ['x29','x40']

# Drop the specified columns
df_dropped = df2_cleaned.drop(columns=columns_to_drop, axis=1)
df_dropped

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.15,39.55,112.99,79.10,480.78,248.42,152.54,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,NaN,NaN,0.93,0.23,0.13,...,30.51,36.16,108.92,64.97,228.81,146.89,694.92,355.93,195.86,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,76.27,84.45,117.14,90.11,225.28,180.22,450.55,NaN,333.41,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,52.69,63.22,210.75,158.06,474.19,316.12,1053.75,632.25,526.87,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,47.17,100.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,90.18,105.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,60.00,NaN,300.00,150.00,NaN,582.52,NaN,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,296.43,296.00,887.50,762.50,1344.10,1500.00,272.22,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,NaN,...,62.50,65.00,233.33,123.33,416.67,366.67,900.00,NaN,350.00,NaN

## Making the copy of df3 and checking for nulls

In [11]:
df3=df_dropped.copy()
df3

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.15,39.55,112.99,79.10,480.78,248.42,152.54,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,NaN,NaN,0.93,0.23,0.13,...,30.51,36.16,108.92,64.97,228.81,146.89,694.92,355.93,195.86,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,76.27,84.45,117.14,90.11,225.28,180.22,450.55,NaN,333.41,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,52.69,63.22,210.75,158.06,474.19,316.12,1053.75,632.25,526.87,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,47.17,100.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,90.18,105.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,60.00,NaN,300.00,150.00,NaN,582.52,NaN,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,296.43,296.00,887.50,762.50,1344.10,1500.00,272.22,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,NaN,...,62.50,65.00,233.33,123.33,416.67,366.67,900.00,NaN,350.00,NaN

In [12]:
df3.isnull().sum()

city         0
country      0
x1          13
x2          28
x3          10
x4          32
x5          32
x6          12
x7          17
x8          14
x9           3
x10          6
x11          9
x12         36
x13         38
x14         35
x15         29
x16          5
x17          5
x18          7
x19         24
x20         11
x21          7
x22         36
x23         11
x24         26
x25         78
x26         58
x27         23
x28        441
x30        112
x31        165
x32        360
x33         33
x34        167
x35        163
x36         29
x37        283
x38          9
x39        368
x41         21
x42        200
x43        553
x44         19
x45         23
x46         31
x47         19
x48        347
x49        369
x50        398
x51        415
x52        933
x53        970
x54        395
x55        160
dtype: int64

## Filling missing values based on the mean value of each group defined by country

In [13]:
numeric_columns = df3.select_dtypes(include=['number']).columns

# Fill missing values with the mean of each country group
df3[numeric_columns] = df3.groupby('country')[numeric_columns].transform(lambda x: x.fillna(x.mean()))
df3

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,...,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,...,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

In [14]:
df_filled=df3.copy()
df_filled

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,...,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,...,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

# Extracting the subset of the dataset India and checking for null values of India as well as world dataset

In [15]:
df_india = df_filled[df_filled['country']=='India']
df_india.head(50)

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
3859,Ponnuru,India,1.23,7.37,2.15,1.60,2.4600,0.61,0.41,0.16,...,24.56,18.42,98.250000,101.320000,663.220000,214.93000,1237.854455,611.088081,368.450000,9.50
1543,Vizianagaram,India,1.23,12.28,2.76,2.15,3.6800,0.49,0.34,0.20,...,85.97,12.28,117.264672,80.515798,269.056303,174.17042,3684.530000,1228.180000,307.040000,8.00
1655,Kharagpur,India,4.30,6.14,4.91,1.47,2.1500,1.29,0.31,0.12,...,27.84,16.38,85.970000,36.850000,165.800000,110.54000,793.200000,528.800000,614.090000,7.57
1685,Gurgaon,India,4.91,18.42,3.68,1.84,3.6800,2.13,0.45,0.21,...,51.11,39.52,236.240000,153.140000,597.590000,356.53000,1619.660000,841.440000,875.180000,8.29
51,Pune,India,3.68,14.74,4.30,2.46,3.6800,1.96,0.42,0.16,...,42.84,34.39,219.790000,134.730000,485.560000,312.84000,1690.470000,977.180000,803.850000,8.00
4,Delhi,India,4.91,22.11,4.30,1.84,3.6800,1.77,0.49,0.19,...,49.99,36.50,229.840000,135.310000,601.020000,329.15000,2506.730000,1036.740000,586.460000,8.06
1619,Shimla,India,1.23,9.83,2.46,1.54,2.4600,1.11,0.31,0.18,...,49.95,24.56,122.820000,85.970000,368.450000,171.94000,1965.080000,675.500000,442.140000,7.83
1552,Nagercoil,India,1.11,6.14,3.19,1.41,2.4600,0.92,0.31,0.16,...,24.56,24.56,85.970000,61.410000,107.470000,98.25000,330.500000,611.088081,436.000000,7.89
1596,Shiliguri,India,3.68,8.90,5.22,3.56,5.4700,1.23,0.57,0.31,...,59.36,49.95,76.760000,51.170000,147.380000,104.39000,542.020000,475.920000,184.230000,9.03
3,Mumbai,India,3.68,18.42,3.68,2.46,4.3000,2.48,0.48,0.19,...,49.87,41.17,522.400000,294.050000,1411.120000,699.80000,6092.450000,2777.510000,640.810000,7.96
261,Bhopal,India,2.33,12.28,3.68,1.84,3.3800,1.49,0.42,0.22,...,29.32,31.06,68.570000,45.440000,208.790000,116.68000,540.740000,251.180000,446.240000,9.46
275,Patna,India,2.46,12.28,3.07,2.46,6.1400,1.37,0.36,0.17,...,37.87,27.04,113.610000,59.870000,372.550000,254.85000,1233.860000,1917.600000,356.170000,8.57
1453,Begusarai,India,1.84,8.90,4.91,3.56,5.4700,1.23,0.31,0.12,...,18.42,24.56,49.130000,80.515798,122.820000,174.17042,1322.000000,396.600000,307.040000,9.03
50,Ahmedabad,India,2.46,12.28,3.68,3.38,5.5300,1.68,0.44,0.18,...,50.59,35.56,461.380000,393.190000,459.700000,292.04000,1038.450000,494.320000,433.960000,7.79
1682,Haldia,India,1.81,7.98,5.53,1.60,2.4600,1.15,0.25,0.13,...,49.52,35.00,128.960000,76.760000,307.040000,227.21000,793.200000,573.630000,503.550000,9.25
331,Rajkot,India,3.07,12.28,3.68,6.14,4.6100,1.01,0.37,0.40,...,34.80,23.34,92.110000,70.620000,214.930000,168.87000,3050.260000,2269.570000,429.860000,9.72
228,Vadodara,India,2.46,15.97,4.30,2.95,4.3000,1.66,0.72,0.19,...,48.64,31.04,100.560000,72.780000,219.710000,144.03000,479.330000,245.640000,354.120000,8.08
328,Aurangabad,India,2.03,8.90,4.18,1.84,1.8400,1.51,0.43,0.16,...,39.30,28.66,132.030000,81.370000,260.990000,165.80000,550.580000,401.720000,445.210000,9.72
4945,Tirupati,India,2.46,9.21,4.30,2.21,3.0700,1.47,0.46,0.14,...,38.89,37.25,82.900000,61.410000,184.230000,128.96000,661.000000,396.600000,614.090000,7.97
110,Surat,India,2.76,9.83,3.68,1.84,3.6800,1.35,0.37,0.18,...,47.37,31.58,219.250000,227.490000,320.760000,272.23000,687.080000,484.340000,331.610000,7.45
1455,Sonipat,India,1.23,4.91,3.38,1.41,2.1500,1.04,0.46,0.18,...,58.34,11.05,76.760000,58.340000,245.640000,184.23000,2786.850000,965.910000,245.640000,8.69
4895,Cherukuru,India,4.61,7.37,3.62,0.86,2.2100,1.47,0.34,0.10,...,46.06,18.42,45.030000,28.660000,122.820000,102.35000,307.040000,245.640000,245.640000,8.75
24,Bangalore,India,3.07,18.42,4.30,2.21,3.6800,2.09,0.46,0.18,...,46.69,37.25,240.590000,145.910000,639.320000,355.79000,1638.590000,810.460000,969.960000,7.97
153,Lucknow,India,3.07,12.28,3.07,1.84,3.6800,1.57,0.35,0.18,...,40.91,38.92,122.820000,77.990000,305.510000,180.13000,1067.190000,599.700000,569.740000,8.47
89,Allahabad,India,1.84,6.14,3.68,1.66,2.4600,2.15,0.64,0.20,...,59.36,40.94,78.300000,79.830000,245.640000,141.24000,614.090000,611.088081,409.390000,10.88
1667,Ellore,India,1.23,9.83,2.46,2.03,2.7000,1.84,0.37,0.18,...,30.70,36.85,114.630000,90.070000,280.430000,272.25000,1237.854455,611.088081,337.750000,8.00
1519,Puducherry,India,1.35,10.75,3.56,0.98,1.8400,1.76,0.37,0.12,...,47.20,37.25,141.240000,69.080000,337.750000,230.28000,546.280000,430.710000,537.330000,7.97
30,Hyderabad,India,2.46,12.28,5.53,1.84,3.6800,2.01,0.45,0.18,...,49.08,39.26,173.770000,110.680000,432.930000,276.74000,1132.490000,629.510000,531.450000,7.87
16,Kolkata,India,2.00,14.74,3.68,2.21,3.6800,1.64,0.36,0.15,...,49.43,34.08,148.650000,84.890000,388.920000,248.24000,1038.750000,587.510000,532.210000,8.25
294,Kalyan,India,3.68,10.44,4.18,2.64,4.3000,1.93,0.43,0.16,...,39.30,28.66,157.620000,89.040000,262.010000,221.07000,2423.660000,925.400000,614.090000,8.50
4868,Nallacheruvu,India,1.84,7.37,3.68,1.29,3.0700,1.23,0.39,0.18,...,38.89,15.78,117.264672,80.515798,269.056303,174.17042,1237.854455,611.088081,440.705455,8.50
205,Ghaziabad,India,3.68,30.70,4.30,1.60,3.0700,1.64,0.38,0.18,...,53.22,28.25,98.250000,67.550000,212.880000,143.29000,648.490000,343.150000,491.270000,7.83
308,Nasik,India,2.46,15.97,2.95,0.98,4.3000,0.74,0.44,0.14,...,33.77,24.56,73.690000,49.130000,270.200000,184.23000,854.890000,392.190000,552.680000,8.05
203,Nagpur,India,4.91,12.28,3.68,2.33,3.9900,2.05,0.42,0.18,...,46.50,39.92,101.320000,72.670000,297.830000,173.17000,1364.640000,440.220000,499.460000,9.33
156,Jaipur,India,2.46,9.83,3.68,1.84,3.9900,1.45,0.45,0.20,...,39.52,33.16,145.740000,88.840000,385.110000,227.68000,1750.630000,577.050000,447.360000,8.04
235,Vishakhapatnam,India,2.46,10.44,4.30,1.84,2.7600,2.01,0.58,0.22,...,40.94,31.20,305.090000,222.240000,458.890000,313.74000,993.950000,535.940000,552.680000,10.50
296,Madurai,India,1.35,7.37,3.68,1.29,3.0700,1.23,0.39,0.18,...,38.89,15.78,88.020000,52.200000,214.930000,138.17000,1237.854455,611.088081,458.520000,8.50
297,Jamshedpur,India,1.99,12.28,3.68,1.60,2.4600,1.15,0.26,0.13,...,49.43,34.08,122.820000,69.080000,290.670000,135.10000,552.680000,393.020000,223.690000,8.25
241,Indore,India,3.07,10.44,3.68,1.84,3.5000,1.09,0.39,0.19,...,43.43,28.86,128.280000,73.010000,307.040000,173.48000,1061.130000,594.900000,526.070000,9.06
291,Bilaspur,India,2.46,7.98,3.99,2.46,3.6800,0.84,0.31,0.12,...,42.99,36.85,83.930000,57.310000,208.790000,141.24000,637.540000,188.920000,470.800000,7.97
26,Chennai,India,2.18,12.28,4.91,2.21,4.3000,1.63,0.44,0.18,...,46.45,34.67,180.730000,107.590000,439.840000,259.71000,1948.950000,690.300000,552.680000,7.78
289,Agra,India,2.46,7.37,2.46,1.54,2.8200,0.86,0.34,0.11,...,40.94,13.41,122.820000,85.970000,184.230000,122.82000,1350.990000,644.790000,388.920000,8.68
324,Faridabad,India,3.07,14.85,3.68,1.84,2.4700,1.69,0.38,0.25,...,50.15,44.01,106.440000,73.690000,266.100000,192.41000,938.190000,609.180000,491.270000,8.29
288,Ludhiana,India,3.68,9.83,4.61,1.84,3.0700,1.64,0.38,0.18,...,59.11,38.60,132.030000,83.820000,267.130000,216.47000,4050.210000,2257.630000,320.860000,7.83
247,Thane,India,5.83,14.74,3.07,2.64,4.3000,2.46,0.38,0.23,...,44.52,34.39,276.340000,208.790000,614.090000,417.58000,2809.250000,1680.590000,521.970000,7.78
3243,Dispur,India,1.23,9.83,6.80,1.47,3.0700,0.92,0.49,0.12,...,61.41,30.70,49.130000,42.990000,79.830000,61.41000,1237.854455,611.088081,208.790000,8.00
1091,Rohtak,India,5.22,13.51,5.53,2.76,3.2928,1.23,0.70,0.37,...,49.12,38.38,98.250000,75.740000,245.640000,159.66000,5032.110000,354.240000,233.350000,9.62
1090,Latur,India,3.68,8.60,3.68,2.46,3.6800,1.84,0.42,0.16,...,42.84,34.39,122.820000,98.250000,184.230000,147.38000,1237.854455,611.088081,440.705455,8.00
4800,Munagapaka,India,3.68,14.74,4.30,2.46,3.6800,1.96,0.38,0.23,...,44.52,34.39,117.264672,80.515798,269.056303,174.17042,5948.990000,611.088081,440.705455,7.78
603,Hubli,India,3.07,6.14,2.46,1.23,6.1400,1.84,0.23,0.18,...,36.85,24.56,76.760000,61.410000,110.540000,122.82000,642.230000,393.020000,368.450000,9.43

In [16]:
df_india.isnull().sum()

city       0
country    0
x1         0
x2         0
x3         0
x4         0
x5         0
x6         0
x7         0
x8         0
x9         0
x10        0
x11        0
x12        0
x13        0
x14        0
x15        0
x16        0
x17        0
x18        0
x19        0
x20        0
x21        0
x22        0
x23        0
x24        0
x25        0
x26        0
x27        0
x28        0
x30        0
x31        0
x32        0
x33        0
x34        0
x35        0
x36        0
x37        0
x38        0
x39        0
x41        0
x42        0
x43        0
x44        0
x45        0
x46        0
x47        0
x48        0
x49        0
x50        0
x51        0
x52        0
x53        0
x54        0
x55        0
dtype: int64

In [17]:
df_filled.isnull().sum()

city        0
country     0
x1          1
x2          0
x3          0
x4          0
x5          3
x6          0
x7          0
x8          0
x9          0
x10         0
x11         0
x12         1
x13         6
x14         1
x15         4
x16         1
x17         0
x18         1
x19         0
x20         0
x21         0
x22         3
x23         2
x24         1
x25         2
x26         2
x27         2
x28         2
x30         5
x31         9
x32         9
x33         0
x34        11
x35        17
x36         1
x37         9
x38         2
x39         1
x41         4
x42        10
x43         8
x44         3
x45         3
x46         3
x47         2
x48         0
x49         0
x50         0
x51         0
x52        12
x53        16
x54         1
x55        13
dtype: int64

## Making the copy of df_filled

In [18]:
df4=df_filled.copy()
df4

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,...,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,...,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

## Making a new COL column which stands for overall Cost of Living for each city¶

### COL is a combination of various different columns which are basic necessities for survival¶

In [19]:
df4['COL'] = df4['x9'] * 10 + df4['x11'] * 12 + df4['x12'] * 0.5 + df4['x16'] * 1.5 + df4['x17'] * 6 + df4['x18'] * 1.5 + df4['x19'] * 3 + df4['x20'] * 3 + df4['x21'] * 2 + df4['x22'] + df4['x33'] * 12 + df4['x36'] + df4['x48']
df4

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,COL
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,...,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30,159.155000
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,...,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88,184.290000
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,...,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44,244.545000
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,...,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25,363.095000
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,...,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00,327.485000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,...,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00,485.280000
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00,336.266667
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00,202.680000
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,...,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00,439.110000
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,...,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00,413.895000

## Extracting data of country India and checking nulls of COL

In [20]:
df4_india = df4[df4['country'] == 'India']
df4_india

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,COL
3859,Ponnuru,India,1.23,7.37,2.15,1.60,2.4600,0.61,0.41,0.16,...,18.42,98.250000,101.320000,663.220000,214.93000,1237.854455,611.088081,368.45,9.50,150.540000
1543,Vizianagaram,India,1.23,12.28,2.76,2.15,3.6800,0.49,0.34,0.20,...,12.28,117.264672,80.515798,269.056303,174.17042,3684.530000,1228.180000,307.04,8.00,170.593672
1655,Kharagpur,India,4.30,6.14,4.91,1.47,2.1500,1.29,0.31,0.12,...,16.38,85.970000,36.850000,165.800000,110.54000,793.200000,528.800000,614.09,7.57,150.870000
1685,Gurgaon,India,4.91,18.42,3.68,1.84,3.6800,2.13,0.45,0.21,...,39.52,236.240000,153.140000,597.590000,356.53000,1619.660000,841.440000,875.18,8.29,336.440000
51,Pune,India,3.68,14.74,4.30,2.46,3.6800,1.96,0.42,0.16,...,34.39,219.790000,134.730000,485.560000,312.84000,1690.470000,977.180000,803.85,8.00,291.780000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Meerut,India,2.46,11.05,3.99,1.97,2.9500,1.69,0.43,0.18,...,27.84,61.410000,36.850000,122.820000,92.11000,382.530000,197.870000,491.27,10.38,166.425000
375,Srinagar,India,2.46,15.05,5.53,1.35,3.2928,1.11,0.32,0.20,...,42.99,116.680000,70.620000,225.170000,122.82000,1109.840000,362.630000,429.86,9.62,184.945000
443,Raipur,India,1.47,8.60,4.30,1.87,3.0700,1.54,0.29,0.15,...,24.15,138.170000,104.390000,287.390000,169.49000,793.200000,462.700000,532.21,7.62,209.955000
454,Kota,India,1.11,6.14,2.09,1.84,3.5000,1.09,0.37,0.12,...,28.86,61.410000,30.700000,171.940000,147.38000,734.370000,611.088081,368.45,9.06,131.810000
1394,Imphal,India,3.68,18.42,6.14,1.54,3.9900,0.80,0.39,0.14,...,33.77,36.850000,30.700000,269.056303,61.41000,368.450000,245.640000,184.23,14.67,94.750000

In [21]:
df4_india['COL'].isnull().sum()

0

## Making a new sub-df4 out of cleaned dataframe having city, country and COL

In [22]:
selected_columns = ['city', 'country', 'COL']
df4_final=df4[selected_columns]
df4_final

             city      country         COL
830         Herat  Afghanistan  159.155000
131         Kabul  Afghanistan  184.290000
4776        Kruje      Albania  244.545000
3201  Gjirokaster      Albania  363.095000
4851       Gramsh      Albania  327.485000
...           ...          ...         ...
4032        Kafue       Zambia  485.280000
1146  Chitungwiza     Zimbabwe  336.266667
2731     Masvingo     Zimbabwe  202.680000
219        Harare     Zimbabwe  439.110000
722      Bulawayo     Zimbabwe  413.895000

[3427 rows x 3 columns]

## Renaming the COL to COL_2022

In [23]:
df4_final=df4_final.rename(columns={'COL':'COL_2022'})
df4_final

             city      country    COL_2022
830         Herat  Afghanistan  159.155000
131         Kabul  Afghanistan  184.290000
4776        Kruje      Albania  244.545000
3201  Gjirokaster      Albania  363.095000
4851       Gramsh      Albania  327.485000
...           ...          ...         ...
4032        Kafue       Zambia  485.280000
1146  Chitungwiza     Zimbabwe  336.266667
2731     Masvingo     Zimbabwe  202.680000
219        Harare     Zimbabwe  439.110000
722      Bulawayo     Zimbabwe  413.895000

[3427 rows x 3 columns]

In [24]:
df4_final.isnull().sum()

city        0
country     0
COL_2022    5
dtype: int64

In [25]:
df4_final.dropna(subset=['COL_2022'], inplace=True)
df4_final

             city      country    COL_2022
830         Herat  Afghanistan  159.155000
131         Kabul  Afghanistan  184.290000
4776        Kruje      Albania  244.545000
3201  Gjirokaster      Albania  363.095000
4851       Gramsh      Albania  327.485000
...           ...          ...         ...
4032        Kafue       Zambia  485.280000
1146  Chitungwiza     Zimbabwe  336.266667
2731     Masvingo     Zimbabwe  202.680000
219        Harare     Zimbabwe  439.110000
722      Bulawayo     Zimbabwe  413.895000

[3422 rows x 3 columns]

In [26]:
df4_final.isnull().sum()

city        0
country     0
COL_2022    0
dtype: int64

# Reading the excel file of inflation Dataset

In [27]:
df_inflation = pd.read_excel('inflation.xlsx')
df_inflation

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,Note,Column1
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,VEN,299.0,"Venezuela, RB",Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,142.03,291.62,905.66,169201.78,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN
779,VNM,582.0,Vietnam,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,-0.59,-0.61,NaN,NaN,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN
780,XKX,967.0,Kosovo,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.66,-0.07,0.59,1.35,0.93,-0.58,4.92,NaN,"Producer Price Index, All Commodities",NaN
781,ZAF,199.0,South Africa,Inflation,Producer Price Inflation,NaN,5.00,6.35,12.44,18.58,...,3.61,7.08,4.88,5.45,4.62,2.49,7.12,14.36,"Producer Price Index, All Commodities",NaN
782,ZMB,754.0,Zambia,Inflation,Producer Price Inflation,14.29,0.00,4.17,12.00,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN

## Only considered rows that have series name=Headline consumer price inflation and checking for null values

In [28]:
df_inflation1 = df_inflation[(df_inflation['Series Name'] == 'Headline Consumer Price Inflation')]
df_inflation1

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,Note,Column1
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,687.0,New Caledonia,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN,Additional countries from the previous update,NaN
199,NIU,570.0,Niue,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Additional countries from the previous update,NaN
200,SHN,654.0,Saint Helena,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN,Additional countries from the previous update,NaN
201,TLS,537.0,Timor-Leste,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN,Additional countries from the previous update,NaN
202,TCA,796.0,Turks and Caicos Islands,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN,Additional countries from the previous update,NaN

In [29]:
df_inflation1.isnull().sum()

Country Code          0
IMF Country Code      0
Country               0
Indicator Type        0
Series Name           0
1970                 48
1971                 48
1972                 48
1973                 47
1974                 47
1975                 49
1976                 49
1977                 49
1978                 48
1979                 48
1980                 45
1981                 41
1982                 40
1983                 40
1984                 40
1985                 40
1986                 39
1987                 38
1988                 38
1989                 38
1990                 37
1991                 34
1992                 28
1993                 24
1994                 23
1995                 22
1996                 19
1997                 18
1998                 17
1999                 16
2000                 15
2001                 12
2002                 12
2003                  9
2004                  8
2005                  5
2006                  5
2007                  5
2008                  5
2009                  5
2010                  5
2011                  5
2012                  3
2013                  2
2014                  2
2015                  2
2016                  2
2017                  3
2018                  3
2019                  3
2020                  5
2021                  6
2022                 13
Note                  0
Column1             203
dtype: int64

## Dropping Column1

In [30]:
columns_to_drop = ['Column1']

df_dropped = df_inflation1.drop(columns=columns_to_drop, axis=1)
df_dropped

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Note
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,687.0,New Caledonia,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN,Additional countries from the previous update
199,NIU,570.0,Niue,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Additional countries from the previous update
200,SHN,654.0,Saint Helena,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN,Additional countries from the previous update
201,TLS,537.0,Timor-Leste,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN,Additional countries from the previous update
202,TCA,796.0,Turks and Caicos Islands,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN,Additional countries from the previous update

## Copying df_dropped to df_inflation1

In [31]:
df_inflation1=df_dropped.copy()
df_inflation1

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Note
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,687.0,New Caledonia,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN,Additional countries from the previous update
199,NIU,570.0,Niue,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Additional countries from the previous update
200,SHN,654.0,Saint Helena,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN,Additional countries from the previous update
201,TLS,537.0,Timor-Leste,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN,Additional countries from the previous update
202,TCA,796.0,Turks and Caicos Islands,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN,Additional countries from the previous update

## Dropping years from 1972 to 1999

In [32]:
df_inflation1.drop(['1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999'],inplace=True,axis=1)
#df_inflation1.drop(['1970','1971'],axis=1,inplace=True)
df_inflation1

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Note
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,4.05,2.89,3.32,3.66,2.53,...,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,0.00,-43.40,51.93,35.66,16.36,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,325.03,152.59,108.89,98.22,43.53,...,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,0.03,3.10,5.18,2.38,2.83,...,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,1.35,2.80,2.92,3.12,5.04,...,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,687.0,New Caledonia,Inflation,Headline Consumer Price Inflation,1.54,2.32,1.81,1.11,0.84,...,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN,Additional countries from the previous update
199,NIU,570.0,Niue,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Additional countries from the previous update
200,SHN,654.0,Saint Helena,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN,Additional countries from the previous update
201,TLS,537.0,Timor-Leste,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,7.17,3.24,...,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN,Additional countries from the previous update
202,TCA,796.0,Turks and Caicos Islands,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN,Additional countries from the previous update

## Dropping unwanted columns and copying df_inflation2 to df_inflation2

In [33]:
df_inflation1.drop(['Country Code','IMF Country Code','Indicator Type','Series Name','Note'],inplace=True,axis=1)
df_inflation1

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,United Arab Emirates,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN
199,Niue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Saint Helena,NaN,NaN,NaN,NaN,NaN,2.90,4.30,4.60,8.00,...,1.70,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN
201,Timor-Leste,NaN,NaN,NaN,7.17,3.24,1.11,3.94,10.30,9.06,...,10.99,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN
202,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,3.00,3.50,3.70,3.90,...,2.50,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN

In [34]:
df_inflation2=df_inflation1.copy()
df_inflation2

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,United Arab Emirates,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN
199,Niue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Saint Helena,NaN,NaN,NaN,NaN,NaN,2.90,4.30,4.60,8.00,...,1.70,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN
201,Timor-Leste,NaN,NaN,NaN,7.17,3.24,1.11,3.94,10.30,9.06,...,10.99,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN
202,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,3.00,3.50,3.70,3.90,...,2.50,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN

## Renaming column 'Country' to 'country' and checking for null values

In [35]:
df_inflation2.rename(columns={'Country': 'country'}, inplace=True)
df_inflation2

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,United Arab Emirates,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN
199,Niue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Saint Helena,NaN,NaN,NaN,NaN,NaN,2.90,4.30,4.60,8.00,...,1.70,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN
201,Timor-Leste,NaN,NaN,NaN,7.17,3.24,1.11,3.94,10.30,9.06,...,10.99,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN
202,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,3.00,3.50,3.70,3.90,...,2.50,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN

In [36]:
df_inflation2.isnull().sum()

country     0
2000       15
2001       12
2002       12
2003        9
2004        8
2005        5
2006        5
2007        5
2008        5
2009        5
2010        5
2011        5
2012        3
2013        2
2014        2
2015        2
2016        2
2017        3
2018        3
2019        3
2020        5
2021        6
2022       13
dtype: int64

## Dropping rows where non-null(filled) values are less than 19(threshold values)

In [37]:
threshold_nonnulls = len(df_inflation2.columns) - 5

# Drop rows where the number of non-null values is below the threshold
df_inflation2=df_inflation2.dropna(thresh=threshold_nonnulls)
df_inflation2

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,United Arab Emirates,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Zambia,26.07,21.24,22.30,21.31,17.96,18.30,9.06,10.64,12.44,...,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.99
192,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.94
194,Kosovo,NaN,NaN,NaN,-1.09,-1.06,-1.38,0.61,4.37,9.34,...,1.77,0.43,-0.53,0.27,1.49,1.05,2.68,0.19,3.36,NaN
197,Montserratit,NaN,4.75,3.98,1.16,3.10,2.67,1.93,2.71,4.90,...,0.87,-0.38,-1.15,-0.25,1.19,1.31,-1.07,-1.89,1.67,NaN
198,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN

## Checking for null values

In [38]:
df_inflation2.isnull().sum()

country    0
2000       7
2001       4
2002       4
2003       2
2004       1
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       1
2021       1
2022       6
dtype: int64

# Filling missing values by taking average of inflation rates of all the years for a particular country

In [39]:
# Calculate the average inflation rate for each country across all years
average_inflation_by_country = df_inflation2.loc[:, '2000':'2022'].mean(axis=1)

# Define a function to fill missing values in each row with the country's average inflation rate
def fill_missing_values(row):
    country = row['country']
    avg_inflation = average_inflation_by_country.loc[row.name]  # Get the average inflation rate for the country
    return row.fillna(avg_inflation)

# Apply the fill_missing_values function to each row
df_inflation2.loc[:, '2000':'2022'] = df_inflation2.apply(fill_missing_values, axis=1)

# Check if there are any remaining null values
remaining_null_values = df_inflation2.isnull().sum().sum()
if remaining_null_values == 0:
    print("All null values have been filled with the average inflation rate for each country.")
else:
    print(f"There are still {remaining_null_values} null values remaining after filling.")

All null values have been filled with the average inflation rate for each country.

/var/folders/qc/b4s6ptms5f73v6qv3yd1zxn00000gn/T/ipykernel_15040/3561127914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inflation2.loc[:, '2000':'2022'] = df_inflation2.apply(fill_missing_values, axis=1)

df_inflation2

In [40]:
df_inflation2

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.050000,2.890000,3.320000,3.66,2.53,3.40,3.61,5.39,8.96,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000
1,Afghanistan,0.000000,-43.400000,51.930000,35.66,16.36,10.57,6.78,8.68,26.42,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091
2,Angola,325.030000,152.590000,108.890000,98.22,43.53,22.96,13.31,12.25,12.47,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000
3,Albania,0.030000,3.100000,5.180000,2.38,2.83,2.36,2.41,2.91,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000
4,United Arab Emirates,1.350000,2.800000,2.920000,3.12,5.04,6.20,9.28,11.13,12.27,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.220000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Zambia,26.070000,21.240000,22.300000,21.31,17.96,18.30,9.06,10.64,12.44,...,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000
192,Zimbabwe,4.470000,-37.200000,-34.440000,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000
194,Kosovo,1.704737,1.704737,1.704737,-1.09,-1.06,-1.38,0.61,4.37,9.34,...,1.77,0.43,-0.53,0.27,1.49,1.05,2.68,0.19,3.36,1.704737
197,Montserratit,1.848571,4.750000,3.980000,1.16,3.10,2.67,1.93,2.71,4.90,...,0.87,-0.38,-1.15,-0.25,1.19,1.31,-1.07,-1.89,1.67,1.848571
198,New Caledonia,1.540000,2.320000,1.810000,1.11,0.84,1.23,2.95,0.98,2.95,...,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273

## Checking for null values

In [41]:
df_inflation2.isnull().sum()

country    0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
dtype: int64

## Merging inflation and World dataset

In [42]:
df5 = pd.merge(df_inflation2, df4_final, on='country', how='inner')
df5

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,city,COL_2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,Oranjestad,1091.495000
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,Herat,159.155000
2,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,Kabul,184.290000
3,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,Luanda,339.905000
4,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,Kruje,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Chitungwiza,336.266667
3109,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Masvingo,202.680000
3110,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Harare,439.110000
3111,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Bulawayo,413.895000
3112,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,Noumea,1150.320000

In [43]:
df5

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,city,COL_2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,Oranjestad,1091.495000
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,Herat,159.155000
2,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,Kabul,184.290000
3,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,Luanda,339.905000
4,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,Kruje,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Chitungwiza,336.266667
3109,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Masvingo,202.680000
3110,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Harare,439.110000
3111,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Bulawayo,413.895000
3112,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,Noumea,1150.320000

In [44]:
# df5.drop(['COL_2022'],axis=1,inplace=True)
# df5

## Copying df5 to df6_cleaned

In [45]:
df6_cleaned=df5.copy()
df6_cleaned

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,city,COL_2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,Oranjestad,1091.495000
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,Herat,159.155000
2,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,Kabul,184.290000
3,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,...,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,Luanda,339.905000
4,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,...,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,Kruje,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Chitungwiza,336.266667
3109,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Masvingo,202.680000
3110,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Harare,439.110000
3111,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,...,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,Bulawayo,413.895000
3112,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,...,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,Noumea,1150.320000

## Dropped city from end and added it to beginning and checked for null values

In [46]:
df6_cleaned = pd.concat([df6_cleaned['city'], df6_cleaned.drop(['city'], axis=1)], axis=1)
df6_cleaned

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,...,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,...,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,...,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,...,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

In [47]:
df6_cleaned.isnull().sum()

city        0
country     0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
2018        0
2019        0
2020        0
2021        0
2022        0
COL_2022    0
dtype: int64

## Copying df6_cleaned to df6 and dropping null values and checking for null values if any

In [48]:
df6=df6_cleaned.copy()
df6

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,...,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,...,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,...,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,...,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,...,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

In [49]:
df6=df6.dropna(how='all')
df6.tail(50)

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
3063,Samarkand,Uzbekistan,25.01,27.25,27.29,12.49,7.32,10.70,13.11,11.15,...,9.08,8.46,7.98,13.88,17.68,14.53,12.86,10.69,11.320000,366.175000
3064,Nam Dinh,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,366.990000
3065,Vung Tau,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,390.545000
3066,Hanoi,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,466.465000
3067,Nha Trang,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,456.140000
3068,Ho Chi Minh City,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,632.735000
3069,Hue,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,285.445000
3070,Bac Ninh,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,394.094091
3071,Phan Thiet,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,389.330000
3072,Can Tho,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,448.743182
3073,Bien Hoa,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,356.440000
3074,Bac Giang,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,439.050000
3075,Haiphong,Vietnam,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,...,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.160000,766.465000
3076,Port-Vila,Vanuatu,2.53,3.58,1.96,3.02,1.42,1.20,2.04,3.93,...,0.80,2.48,0.84,3.09,2.31,2.75,2.92,2.34,4.580000,1390.010000
3077,East London,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,509.720000
3078,Klerksdorp,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,251.985000
3079,Randburg,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,494.915000
3080,Pietermaritzburg,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,550.745000
3081,Villiersdorp,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,298.765000
3082,Roodepoort,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,717.955000
3083,Alberton,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,434.905000
3084,Pretoria,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,459.085000
3085,George,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,446.715000
3086,Centurion,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,499.350000
3087,Soweto,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,443.600000
3088,Knysna,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,466.945000
3089,Benoni,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,399.060000
3090,Welkom,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,494.865769
3091,Vereeniging,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,463.715769
3092,Sandton,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,736.715000
3093,Hermanus,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,690.010000
3094,Mossel Bay,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,518.105000
3095,Potchefstroom,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,443.255000
3096,Nelspruit,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,492.510000
3097,Johannesburg,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,574.620000
3098,Bloemfontein,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,302.055000
3099,Cape Town,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,831.385000
3100,Rustenburg,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,617.635000
3101,Uitenhage,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,309.310000
3102,Durban,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,557.775000
3103,Jeffrey's Bay,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,638.590000
3104,Polokwane,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,513.190769
3105,Port Elizabeth,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,...,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000,683.460000
3106,Lusaka,Zambia,26.07,21.24,22.30,21.31,17.96,18.30,9.06,10.64,...,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000,485.280000
3107,Kafue,Zambia,26.07,21.24,22.30,21.31,17.96,18.30,9.06,10.64,...,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000,485.280000
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,...,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,...,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

In [50]:
df6.isnull().sum()

city        0
country     0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
2018        0
2019        0
2020        0
2021        0
2022        0
COL_2022    0
dtype: int64

## Displaying all the columns and copying df6 to df7

In [51]:
pd.set_option('display.max_columns', None)  # Display all columns
#pd.set_option('display.max_rows', None)   
df6

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

In [52]:
# dropped_column = df5.pop('COL_2022')
# df6 = pd.concat([df6, dropped_column], axis=1)
# df6

In [53]:
df6

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

In [54]:
df7=df6.copy()
df7

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

## Copying df7 to merged_df_7

In [55]:
merged_df_7=df7.copy()
merged_df_7

,city,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,COL_2022
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000

In [56]:
merged_df_7.isnull().sum()

city        0
country     0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
2018        0
2019        0
2020        0
2021        0
2022        0
COL_2022    0
dtype: int64

## Backtracking upto 2000 using inflation data

In [57]:
# Replace 'merged_df_6' with 'merged_df_7' in the code
#merged_df_7 = pd.merge(df_india_final, df_inflation_india[['country', '2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000']], on='country', how='left')

# Rename the inflation rate column for clarity
merged_df_7.rename(columns={'2022': 'inflation_2022', '2021':'inflation_2021','2020':'inflation_2020', '2019':'inflation_2019', '2018':'inflation_2018', '2017':'inflation_2017', '2016':'inflation_2016', '2015':'inflation_2015', '2014':'inflation_2014', '2013':'inflation_2013', '2012':'inflation_2012', '2011':'inflation_2011', '2010':'inflation_2010', '2009':'inflation_2009', '2008':'inflation_2008', '2007':'inflation_2007', '2006':'inflation_2006', '2005':'inflation_2005', '2004':'inflation_2004', '2003':'inflation_2003', '2002':'inflation_2002', '2001':'inflation_2001', '2000':'inflation_2000', '1999':'inflation_1999'}, inplace=True)

# Calculate COL values based on the formula
merged_df_7['COL_2021'] = merged_df_7['COL_2022'] / (1 + (merged_df_7['inflation_2022']) / 100)
merged_df_7['COL_2020'] = merged_df_7['COL_2021'] / (1 + (merged_df_7['inflation_2021']) / 100)
merged_df_7['COL_2019'] = merged_df_7['COL_2020'] / (1 + (merged_df_7['inflation_2020']) / 100)
merged_df_7['COL_2018'] = merged_df_7['COL_2019'] / (1 + (merged_df_7['inflation_2019']) / 100)
merged_df_7['COL_2017'] = merged_df_7['COL_2018'] / (1 + (merged_df_7['inflation_2018']) / 100)
merged_df_7['COL_2016'] = merged_df_7['COL_2017'] / (1 + (merged_df_7['inflation_2017']) / 100)
merged_df_7['COL_2015'] = merged_df_7['COL_2016'] / (1 + (merged_df_7['inflation_2016']) / 100)
merged_df_7['COL_2014'] = merged_df_7['COL_2015'] / (1 + (merged_df_7['inflation_2015']) / 100)
merged_df_7['COL_2013'] = merged_df_7['COL_2014'] / (1 + (merged_df_7['inflation_2014']) / 100)
merged_df_7['COL_2012'] = merged_df_7['COL_2013'] / (1 + (merged_df_7['inflation_2013']) / 100)
merged_df_7['COL_2011'] = merged_df_7['COL_2012'] / (1 + (merged_df_7['inflation_2012']) / 100)
merged_df_7['COL_2010'] = merged_df_7['COL_2011'] / (1 + (merged_df_7['inflation_2011']) / 100)
merged_df_7['COL_2009'] = merged_df_7['COL_2010'] / (1 + (merged_df_7['inflation_2010']) / 100)
merged_df_7['COL_2008'] = merged_df_7['COL_2009'] / (1 + (merged_df_7['inflation_2009']) / 100)
merged_df_7['COL_2007'] = merged_df_7['COL_2008'] / (1 + (merged_df_7['inflation_2008']) / 100)
merged_df_7['COL_2006'] = merged_df_7['COL_2007'] / (1 + (merged_df_7['inflation_2007']) / 100)
merged_df_7['COL_2005'] = merged_df_7['COL_2006'] / (1 + (merged_df_7['inflation_2006']) / 100)
merged_df_7['COL_2004'] = merged_df_7['COL_2005'] / (1 + (merged_df_7['inflation_2005']) / 100)
merged_df_7['COL_2003'] = merged_df_7['COL_2004'] / (1 + (merged_df_7['inflation_2004']) / 100)
merged_df_7['COL_2002'] = merged_df_7['COL_2003'] / (1 + (merged_df_7['inflation_2003']) / 100)
merged_df_7['COL_2001'] = merged_df_7['COL_2002'] / (1 + (merged_df_7['inflation_2002']) / 100)
merged_df_7['COL_2000'] = merged_df_7['COL_2001'] / (1 + (merged_df_7['inflation_2001']) / 100)

# Display or use the updated dataframe with 'COL_2021'
merged_df_7

,city,country,inflation_2000,inflation_2001,inflation_2002,inflation_2003,inflation_2004,inflation_2005,inflation_2006,inflation_2007,inflation_2008,inflation_2009,inflation_2010,inflation_2011,inflation_2012,inflation_2013,inflation_2014,inflation_2015,inflation_2016,inflation_2017,inflation_2018,inflation_2019,inflation_2020,inflation_2021,inflation_2022,COL_2022,COL_2021,COL_2020,COL_2019,COL_2018,COL_2017,COL_2016,COL_2015,COL_2014,COL_2013,COL_2012,COL_2011,COL_2010,COL_2009,COL_2008,COL_2007,COL_2006,COL_2005,COL_2004,COL_2003,COL_2002,COL_2001,COL_2000
0,Oranjestad,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000,1091.495000,1029.323840,1021.762795,1009.447535,968.202125,934.738487,939.152504,947.586019,943.059335,939.115051,961.912375,955.890266,916.305853,897.635044,917.264505,841.835999,798.781667,770.950359,745.599961,727.201756,701.525908,678.983651,659.912188
1,Herat,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,159.155000,148.314554,141.171287,133.887791,130.877606,130.058240,123.888588,118.689967,119.478526,114.147822,106.292785,99.861692,89.321728,87.416058,93.804119,74.200379,68.274180,63.939108,57.826814,49.696471,36.633106,24.111832,42.600409
2,Kabul,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091,184.290000,171.737547,163.466159,155.032397,151.546820,150.598052,143.454041,137.434413,138.347507,132.174937,123.079372,115.632630,103.428113,101.221485,108.618398,85.918682,79.056571,74.036872,66.959276,57.544926,42.418492,27.919760,49.328199
3,Luanda,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000,339.905000,280.103008,226.163107,186.880769,159.618013,133.426409,102.762175,77.626662,71.112736,66.274684,60.925431,55.246129,48.683582,42.525840,37.395217,33.249059,29.620542,26.141155,21.259885,14.812154,7.472583,3.577281,1.416240
4,Kruje,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000,244.545000,229.124895,224.544193,220.964567,217.892286,213.557077,209.390212,206.723479,202.849062,199.615294,195.835666,191.939298,185.609997,179.212124,175.200043,169.422728,164.631939,160.757679,157.051269,152.729037,149.178587,141.831705,137.567124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,336.266667,87.355605,43.996779,6.694478,1.884229,1.703489,1.688127,1.715053,1.757407,1.761105,1.732860,1.670709,1.614680,1.566890,1.475136,0.574072,2.105142,1.583171,2.311873,1.082490,1.183825,1.805713,2.875339
3109,Masvingo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,202.680000,52.652361,26.518439,4.035002,1.135693,1.026754,1.017495,1.033724,1.059252,1.061481,1.044457,1.006996,0.973226,0.944421,0.889118,0.346014,1.268845,0.954234,1.393449,0.652455,0.713534,1.088368,1.733070
3110,Harare,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,439.110000,114.072323,57.452694,8.741908,2.460499,2.224482,2.204422,2.239583,2.294890,2.299719,2.262835,2.181677,2.108511,2.046105,1.926290,0.749646,2.748976,2.067366,3.018934,1.413557,1.545885,2.357969,3.754728
3111,Bulawayo,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000,413.895000,107.521951,54.153589,8.239922,2.319210,2.096745,2.077837,2.110980,2.163110,2.167663,2.132896,2.056398,1.987434,1.928612,1.815677,0.706599,2.591122,1.948651,2.845577,1.332386,1.457115,2.222568,3.539121
3112,Noumea,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273,1150.320000,1135.252108,1128.256916,1134.268539,1131.439939,1116.589301,1101.390118,1095.038892,1088.832546,1086.876169,1073.139978,1054.683025,1029.662232,1002.592242,993.354049,964.889800,955.525649,928.145361,916.867886,909.230351,899.248690,883.261654,863.234611

## Dropping columns inflation_2000 to inflation_2022

In [58]:
merged_df_7.drop(columns = ['inflation_2022', 'inflation_2021', 'inflation_2020', 'inflation_2019', 'inflation_2018', 'inflation_2017', 'inflation_2016', 'inflation_2015', 'inflation_2014', 'inflation_2013', 'inflation_2012', 'inflation_2011', 'inflation_2010', 'inflation_2009', 'inflation_2008', 'inflation_2007', 'inflation_2006', 'inflation_2005', 'inflation_2004', 'inflation_2003', 'inflation_2002', 'inflation_2001'], axis = 1, inplace=True)
merged_df_7.drop(['inflation_2000'],axis=1,inplace=True)

In [59]:
merged_df_7

,city,country,COL_2022,COL_2021,COL_2020,COL_2019,COL_2018,COL_2017,COL_2016,COL_2015,COL_2014,COL_2013,COL_2012,COL_2011,COL_2010,COL_2009,COL_2008,COL_2007,COL_2006,COL_2005,COL_2004,COL_2003,COL_2002,COL_2001,COL_2000
0,Oranjestad,Aruba,1091.495000,1029.323840,1021.762795,1009.447535,968.202125,934.738487,939.152504,947.586019,943.059335,939.115051,961.912375,955.890266,916.305853,897.635044,917.264505,841.835999,798.781667,770.950359,745.599961,727.201756,701.525908,678.983651,659.912188
1,Herat,Afghanistan,159.155000,148.314554,141.171287,133.887791,130.877606,130.058240,123.888588,118.689967,119.478526,114.147822,106.292785,99.861692,89.321728,87.416058,93.804119,74.200379,68.274180,63.939108,57.826814,49.696471,36.633106,24.111832,42.600409
2,Kabul,Afghanistan,184.290000,171.737547,163.466159,155.032397,151.546820,150.598052,143.454041,137.434413,138.347507,132.174937,123.079372,115.632630,103.428113,101.221485,108.618398,85.918682,79.056571,74.036872,66.959276,57.544926,42.418492,27.919760,49.328199
3,Luanda,Angola,339.905000,280.103008,226.163107,186.880769,159.618013,133.426409,102.762175,77.626662,71.112736,66.274684,60.925431,55.246129,48.683582,42.525840,37.395217,33.249059,29.620542,26.141155,21.259885,14.812154,7.472583,3.577281,1.416240
4,Kruje,Albania,244.545000,229.124895,224.544193,220.964567,217.892286,213.557077,209.390212,206.723479,202.849062,199.615294,195.835666,191.939298,185.609997,179.212124,175.200043,169.422728,164.631939,160.757679,157.051269,152.729037,149.178587,141.831705,137.567124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,336.266667,87.355605,43.996779,6.694478,1.884229,1.703489,1.688127,1.715053,1.757407,1.761105,1.732860,1.670709,1.614680,1.566890,1.475136,0.574072,2.105142,1.583171,2.311873,1.082490,1.183825,1.805713,2.875339
3109,Masvingo,Zimbabwe,202.680000,52.652361,26.518439,4.035002,1.135693,1.026754,1.017495,1.033724,1.059252,1.061481,1.044457,1.006996,0.973226,0.944421,0.889118,0.346014,1.268845,0.954234,1.393449,0.652455,0.713534,1.088368,1.733070
3110,Harare,Zimbabwe,439.110000,114.072323,57.452694,8.741908,2.460499,2.224482,2.204422,2.239583,2.294890,2.299719,2.262835,2.181677,2.108511,2.046105,1.926290,0.749646,2.748976,2.067366,3.018934,1.413557,1.545885,2.357969,3.754728
3111,Bulawayo,Zimbabwe,413.895000,107.521951,54.153589,8.239922,2.319210,2.096745,2.077837,2.110980,2.163110,2.167663,2.132896,2.056398,1.987434,1.928612,1.815677,0.706599,2.591122,1.948651,2.845577,1.332386,1.457115,2.222568,3.539121
3112,Noumea,New Caledonia,1150.320000,1135.252108,1128.256916,1134.268539,1131.439939,1116.589301,1101.390118,1095.038892,1088.832546,1086.876169,1073.139978,1054.683025,1029.662232,1002.592242,993.354049,964.889800,955.525649,928.145361,916.867886,909.230351,899.248690,883.261654,863.234611

In [60]:
#merged_df_7.drop('inflation_2000', axis=1, inplace=True)
#merged_df_7

## Renamed columns from COL_20XX to 20XX

In [61]:
# Get the current column names
current_columns = merged_df_7.columns

# Extracting the year part and converting it into integers for relevant columns
new_columns = [col.split('_')[1] if col.startswith('COL_') else col for col in current_columns]

# Creating a dictionary to map current columns to new columns (with adjusted year names)
columns_mapping = dict(zip(current_columns, new_columns))

# Rename columns using the created mapping
merged_df_7 = merged_df_7.rename(columns=columns_mapping)

In [62]:
merged_df_7

,city,country,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Oranjestad,Aruba,1091.495000,1029.323840,1021.762795,1009.447535,968.202125,934.738487,939.152504,947.586019,943.059335,939.115051,961.912375,955.890266,916.305853,897.635044,917.264505,841.835999,798.781667,770.950359,745.599961,727.201756,701.525908,678.983651,659.912188
1,Herat,Afghanistan,159.155000,148.314554,141.171287,133.887791,130.877606,130.058240,123.888588,118.689967,119.478526,114.147822,106.292785,99.861692,89.321728,87.416058,93.804119,74.200379,68.274180,63.939108,57.826814,49.696471,36.633106,24.111832,42.600409
2,Kabul,Afghanistan,184.290000,171.737547,163.466159,155.032397,151.546820,150.598052,143.454041,137.434413,138.347507,132.174937,123.079372,115.632630,103.428113,101.221485,108.618398,85.918682,79.056571,74.036872,66.959276,57.544926,42.418492,27.919760,49.328199
3,Luanda,Angola,339.905000,280.103008,226.163107,186.880769,159.618013,133.426409,102.762175,77.626662,71.112736,66.274684,60.925431,55.246129,48.683582,42.525840,37.395217,33.249059,29.620542,26.141155,21.259885,14.812154,7.472583,3.577281,1.416240
4,Kruje,Albania,244.545000,229.124895,224.544193,220.964567,217.892286,213.557077,209.390212,206.723479,202.849062,199.615294,195.835666,191.939298,185.609997,179.212124,175.200043,169.422728,164.631939,160.757679,157.051269,152.729037,149.178587,141.831705,137.567124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,Chitungwiza,Zimbabwe,336.266667,87.355605,43.996779,6.694478,1.884229,1.703489,1.688127,1.715053,1.757407,1.761105,1.732860,1.670709,1.614680,1.566890,1.475136,0.574072,2.105142,1.583171,2.311873,1.082490,1.183825,1.805713,2.875339
3109,Masvingo,Zimbabwe,202.680000,52.652361,26.518439,4.035002,1.135693,1.026754,1.017495,1.033724,1.059252,1.061481,1.044457,1.006996,0.973226,0.944421,0.889118,0.346014,1.268845,0.954234,1.393449,0.652455,0.713534,1.088368,1.733070
3110,Harare,Zimbabwe,439.110000,114.072323,57.452694,8.741908,2.460499,2.224482,2.204422,2.239583,2.294890,2.299719,2.262835,2.181677,2.108511,2.046105,1.926290,0.749646,2.748976,2.067366,3.018934,1.413557,1.545885,2.357969,3.754728
3111,Bulawayo,Zimbabwe,413.895000,107.521951,54.153589,8.239922,2.319210,2.096745,2.077837,2.110980,2.163110,2.167663,2.132896,2.056398,1.987434,1.928612,1.815677,0.706599,2.591122,1.948651,2.845577,1.332386,1.457115,2.222568,3.539121
3112,Noumea,New Caledonia,1150.320000,1135.252108,1128.256916,1134.268539,1131.439939,1116.589301,1101.390118,1095.038892,1088.832546,1086.876169,1073.139978,1054.683025,1029.662232,1002.592242,993.354049,964.889800,955.525649,928.145361,916.867886,909.230351,899.248690,883.261654,863.234611

# Final Dataset

## Firstly, reading the df_filled and df_inflation2 dataframes and then renaming the 'country' column.

In [63]:
df_filled

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27,x28,x30,x31,x32,x33,x34,x35,x36,x37,x38,x39,x41,x42,x43,x44,x45,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,0.38,0.40,1.36,1.40,2.54,2.15,4.52,0.51,1.13,0.68,0.37,0.38,0.24,0.23,0.23,11.30,1.13,1.58,2.26,0.230000,1.69,1.13,3.39,0.68,6779.66,26440.68,56.50,0.04,112.99,9.79,2.54,16.95,1491.53,16.95,76.27,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,0.60,0.23,1.23,1.20,3.39,2.53,5.39,0.73,0.92,1.11,0.49,0.30,0.23,0.23,0.33,11.30,0.87,1.58,1.86,0.230000,1.13,0.56,2.26,0.89,6779.66,11299.43,31.99,0.04,715.63,13.56,2.54,25.99,1491.53,18.08,17.36,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,1.08,0.72,1.26,2.29,4.73,4.42,7.66,0.99,1.79,1.17,0.59,0.54,0.54,0.63,0.50,8.11,1.00,1.35,2.97,0.900000,1.80,1.35,4.51,2.13,18022.08,19904.00,55.70,0.27,15.95,27.03,6.67,54.07,3410.46,46.85,35.59,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,0.97,0.53,1.26,1.90,5.52,4.05,7.49,0.96,1.16,1.03,0.88,0.61,0.60,0.63,0.47,3.88,0.53,0.89,2.88,0.430000,2.70,1.35,13.52,1.73,17120.97,15919.50,89.57,0.20,15.81,14.98,2.70,88.61,1922.35,31.61,26.34,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,1.27,0.51,0.90,2.24,4.51,1.80,6.31,0.63,1.08,0.67,0.54,0.36,0.49,0.49,0.45,4.51,0.72,1.08,2.88,0.541111,1.80,1.80,4.51,1.53,16219.87,19824.28,63.49,0.08,13.02,27.03,4.21,104.17,1603.96,22.53,26.79,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,1.34,0.95,2.00,1.73,9.11,4.18,5.30,2.48,1.49,2.51,1.16,1.23,1.59,1.22,0.92,4.90,0.99,1.26,2.66,1.660000,3.00,0.62,9.19,1.36,8593.28,6444.46,140.69,0.07,103.74,23.82,2.00,171.24,14061.39,12.66,31.12,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,1.000000,5.00,2.00,10.00,1.25,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.666667,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.500000,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,35.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,2.10,1.11,2.62,2.53,10.33,14.00,14.33,2.50,2.06,1.70,1.37,1.40,1.45,1.15,1.23,11.50,1.32,3.00,2.00,0.500000,2.50,0.66,10.00,1.32,25000.00,27666.67,80.00,0.13,55.00,25.00,8.00,178.50,7087.50,30.00,15.00,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

In [64]:
df_inflation2

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.050000,2.890000,3.320000,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000
1,Afghanistan,0.000000,-43.400000,51.930000,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091
2,Angola,325.030000,152.590000,108.890000,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000
3,Albania,0.030000,3.100000,5.180000,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000
4,United Arab Emirates,1.350000,2.800000,2.920000,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.220000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Zambia,26.070000,21.240000,22.300000,21.31,17.96,18.30,9.06,10.64,12.44,13.38,8.50,6.44,6.59,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000
192,Zimbabwe,4.470000,-37.200000,-34.440000,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000
194,Kosovo,1.704737,1.704737,1.704737,-1.09,-1.06,-1.38,0.61,4.37,9.34,-2.40,3.48,7.34,2.47,1.77,0.43,-0.53,0.27,1.49,1.05,2.68,0.19,3.36,1.704737
197,Montserratit,1.848571,4.750000,3.980000,1.16,3.10,2.67,1.93,2.71,4.90,2.79,2.09,3.67,4.77,0.87,-0.38,-1.15,-0.25,1.19,1.31,-1.07,-1.89,1.67,1.848571
198,New Caledonia,1.540000,2.320000,1.810000,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273

In [65]:
df_inflation2.rename(columns={'Country': 'country'}, inplace=True)
df_inflation2

/var/folders/qc/b4s6ptms5f73v6qv3yd1zxn00000gn/T/ipykernel_15040/2228580371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inflation2.rename(columns={'Country': 'country'}, inplace=True)

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.050000,2.890000,3.320000,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000
1,Afghanistan,0.000000,-43.400000,51.930000,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091
2,Angola,325.030000,152.590000,108.890000,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000
3,Albania,0.030000,3.100000,5.180000,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000
4,United Arab Emirates,1.350000,2.800000,2.920000,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.220000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Zambia,26.070000,21.240000,22.300000,21.31,17.96,18.30,9.06,10.64,12.44,13.38,8.50,6.44,6.59,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000
192,Zimbabwe,4.470000,-37.200000,-34.440000,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000
194,Kosovo,1.704737,1.704737,1.704737,-1.09,-1.06,-1.38,0.61,4.37,9.34,-2.40,3.48,7.34,2.47,1.77,0.43,-0.53,0.27,1.49,1.05,2.68,0.19,3.36,1.704737
197,Montserratit,1.848571,4.750000,3.980000,1.16,3.10,2.67,1.93,2.71,4.90,2.79,2.09,3.67,4.77,0.87,-0.38,-1.15,-0.25,1.19,1.31,-1.07,-1.89,1.67,1.848571
198,New Caledonia,1.540000,2.320000,1.810000,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273

## Filtered the dataframes of Cost of living and Inflation based on common countries (Both the dataframes contain same countries) and then checked if both the dataframes have resulted in the same countries

In [66]:
common_countries = set(df_filled['country']).intersection(df_inflation2['country'])

# Filter df_filled to include only common countries
df_filled_filtered = df_filled[df_filled['country'].isin(common_countries)]

# Filter df_inflation2 to include only common countries
df_inflation2_filtered = df_inflation2[df_inflation2['country'].isin(common_countries)]

# Print the filtered dataframes
print("Filtered Cost of Living DataFrame:")
df_filled_filtered

# print("\nFiltered Inflation DataFrame:")
# print(df_inflation2_filtered)

Filtered Cost of Living DataFrame:

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27,x28,x30,x31,x32,x33,x34,x35,x36,x37,x38,x39,x41,x42,x43,x44,x45,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,0.38,0.40,1.36,1.40,2.54,2.15,4.52,0.51,1.13,0.68,0.37,0.38,0.24,0.23,0.23,11.30,1.13,1.58,2.26,0.230000,1.69,1.13,3.39,0.68,6779.66,26440.68,56.50,0.04,112.99,9.79,2.54,16.95,1491.53,16.95,76.27,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,0.60,0.23,1.23,1.20,3.39,2.53,5.39,0.73,0.92,1.11,0.49,0.30,0.23,0.23,0.33,11.30,0.87,1.58,1.86,0.230000,1.13,0.56,2.26,0.89,6779.66,11299.43,31.99,0.04,715.63,13.56,2.54,25.99,1491.53,18.08,17.36,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,1.08,0.72,1.26,2.29,4.73,4.42,7.66,0.99,1.79,1.17,0.59,0.54,0.54,0.63,0.50,8.11,1.00,1.35,2.97,0.900000,1.80,1.35,4.51,2.13,18022.08,19904.00,55.70,0.27,15.95,27.03,6.67,54.07,3410.46,46.85,35.59,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,0.97,0.53,1.26,1.90,5.52,4.05,7.49,0.96,1.16,1.03,0.88,0.61,0.60,0.63,0.47,3.88,0.53,0.89,2.88,0.430000,2.70,1.35,13.52,1.73,17120.97,15919.50,89.57,0.20,15.81,14.98,2.70,88.61,1922.35,31.61,26.34,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,1.27,0.51,0.90,2.24,4.51,1.80,6.31,0.63,1.08,0.67,0.54,0.36,0.49,0.49,0.45,4.51,0.72,1.08,2.88,0.541111,1.80,1.80,4.51,1.53,16219.87,19824.28,63.49,0.08,13.02,27.03,4.21,104.17,1603.96,22.53,26.79,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,1.34,0.95,2.00,1.73,9.11,4.18,5.30,2.48,1.49,2.51,1.16,1.23,1.59,1.22,0.92,4.90,0.99,1.26,2.66,1.660000,3.00,0.62,9.19,1.36,8593.28,6444.46,140.69,0.07,103.74,23.82,2.00,171.24,14061.39,12.66,31.12,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,1.000000,5.00,2.00,10.00,1.25,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.666667,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.500000,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,35.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,2.10,1.11,2.62,2.53,10.33,14.00,14.33,2.50,2.06,1.70,1.37,1.40,1.45,1.15,1.23,11.50,1.32,3.00,2.00,0.500000,2.50,0.66,10.00,1.32,25000.00,27666.67,80.00,0.13,55.00,25.00,8.00,178.50,7087.50,30.00,15.00,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

In [67]:
print("\nFiltered Inflation DataFrame:")
df_inflation2_filtered

Filtered Inflation DataFrame:

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091
2,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000
3,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000
4,United Arab Emirates,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.220000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Samoa,-0.17,1.89,7.43,4.37,7.85,7.82,3.23,4.48,6.27,14.64,-0.20,2.88,6.19,-0.21,-1.24,1.92,0.13,1.30,4.20,2.19,-1.57,-3.01,8.750000
190,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,10.06,7.26,4.06,5.02,5.72,5.78,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000
191,Zambia,26.07,21.24,22.30,21.31,17.96,18.30,9.06,10.64,12.44,13.38,8.50,6.44,6.59,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000
192,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000
198,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273

In [68]:
countries_df_filled = df_filled_filtered['country'].unique()
countries_df_inflation2 = df_inflation2_filtered['country'].unique()

# Check if both lists are the same
if set(countries_df_filled) == set(countries_df_inflation2):
    print("Both dataframes have resulted in the same countries.")
else:
    print("Both dataframes have resulted in different sets of countries.")

Both dataframes have resulted in the same countries.

## Checked for null values and copied df_filled to df_filled1

In [69]:
df_filled_filtered.isnull().sum()

city        0
country     0
x1          1
x2          0
x3          0
x4          0
x5          2
x6          0
x7          0
x8          0
x9          0
x10         0
x11         0
x12         0
x13         5
x14         1
x15         2
x16         1
x17         0
x18         0
x19         0
x20         0
x21         0
x22         2
x23         1
x24         1
x25         2
x26         2
x27         1
x28         2
x30         5
x31         4
x32         5
x33         0
x34         8
x35         8
x36         0
x37         2
x38         2
x39         1
x41         1
x42         4
x43         5
x44         2
x45         1
x46         2
x47         1
x48         0
x49         0
x50         0
x51         0
x52         9
x53        12
x54         1
x55         7
dtype: int64

In [70]:
df_filled1=df_filled_filtered.copy()
df_filled1

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27,x28,x30,x31,x32,x33,x34,x35,x36,x37,x38,x39,x41,x42,x43,x44,x45,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,NaN,0.56,0.40,0.11,0.38,0.40,1.36,1.40,2.54,2.15,4.52,0.51,1.13,0.68,0.37,0.38,0.24,0.23,0.23,11.30,1.13,1.58,2.26,0.230000,1.69,1.13,3.39,0.68,6779.66,26440.68,56.50,0.04,112.99,9.79,2.54,16.95,1491.53,16.95,76.27,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,NaN,0.93,0.23,0.13,0.60,0.23,1.23,1.20,3.39,2.53,5.39,0.73,0.92,1.11,0.49,0.30,0.23,0.23,0.33,11.30,0.87,1.58,1.86,0.230000,1.13,0.56,2.26,0.89,6779.66,11299.43,31.99,0.04,715.63,13.56,2.54,25.99,1491.53,18.08,17.36,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,1.08,0.72,1.26,2.29,4.73,4.42,7.66,0.99,1.79,1.17,0.59,0.54,0.54,0.63,0.50,8.11,1.00,1.35,2.97,0.900000,1.80,1.35,4.51,2.13,18022.08,19904.00,55.70,0.27,15.95,27.03,6.67,54.07,3410.46,46.85,35.59,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,0.97,0.53,1.26,1.90,5.52,4.05,7.49,0.96,1.16,1.03,0.88,0.61,0.60,0.63,0.47,3.88,0.53,0.89,2.88,0.430000,2.70,1.35,13.52,1.73,17120.97,15919.50,89.57,0.20,15.81,14.98,2.70,88.61,1922.35,31.61,26.34,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,1.27,0.51,0.90,2.24,4.51,1.80,6.31,0.63,1.08,0.67,0.54,0.36,0.49,0.49,0.45,4.51,0.72,1.08,2.88,0.541111,1.80,1.80,4.51,1.53,16219.87,19824.28,63.49,0.08,13.02,27.03,4.21,104.17,1603.96,22.53,26.79,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,1.34,0.95,2.00,1.73,9.11,4.18,5.30,2.48,1.49,2.51,1.16,1.23,1.59,1.22,0.92,4.90,0.99,1.26,2.66,1.660000,3.00,0.62,9.19,1.36,8593.28,6444.46,140.69,0.07,103.74,23.82,2.00,171.24,14061.39,12.66,31.12,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,NaN,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,1.000000,5.00,2.00,10.00,1.25,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.666667,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.500000,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,35.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,2.10,1.11,2.62,2.53,10.33,14.00,14.33,2.50,2.06,1.70,1.37,1.40,1.45,1.15,1.23,11.50,1.32,3.00,2.00,0.500000,2.50,0.66,10.00,1.32,25000.00,27666.67,80.00,0.13,55.00,25.00,8.00,178.50,7087.50,30.00,15.00,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

## Filled the missing values using bfill and checked for null values if any

In [71]:
df_filled1 = df_filled1.fillna(method='bfill')

# Display the DataFrame after filling null values
df_filled1

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27,x28,x30,x31,x32,x33,x34,x35,x36,x37,x38,x39,x41,x42,x43,x44,x45,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55
830,Herat,Afghanistan,1.69,6.21,2.82,2.26,1.80,0.56,0.40,0.11,0.38,0.40,1.36,1.40,2.54,2.15,4.52,0.51,1.13,0.68,0.37,0.38,0.24,0.23,0.23,11.30,1.13,1.58,2.26,0.230000,1.69,1.13,3.39,0.68,6779.66,26440.68,56.50,0.04,112.99,9.79,2.54,16.95,1491.53,16.95,76.27,22.60,19.77,62.150000,39.550,112.990000,79.100,480.780000,248.42000,152.540,10.30
131,Kabul,Afghanistan,1.69,5.65,3.11,2.26,1.80,0.93,0.23,0.13,0.60,0.23,1.23,1.20,3.39,2.53,5.39,0.73,0.92,1.11,0.49,0.30,0.23,0.23,0.33,11.30,0.87,1.58,1.86,0.230000,1.13,0.56,2.26,0.89,6779.66,11299.43,31.99,0.04,715.63,13.56,2.54,25.99,1491.53,18.08,17.36,30.51,36.16,108.920000,64.970,228.810000,146.890,694.920000,355.93000,195.860,13.88
4776,Kruje,Albania,4.51,29.29,4.35,1.80,1.80,1.35,1.35,0.72,1.08,0.72,1.26,2.29,4.73,4.42,7.66,0.99,1.79,1.17,0.59,0.54,0.54,0.63,0.50,8.11,1.00,1.35,2.97,0.900000,1.80,1.35,4.51,2.13,18022.08,19904.00,55.70,0.27,15.95,27.03,6.67,54.07,3410.46,46.85,35.59,76.27,84.45,117.140000,90.110,225.280000,180.220,450.550000,550.41625,333.410,4.44
3201,Gjirokaster,Albania,3.60,22.53,2.11,1.35,1.31,0.95,0.85,0.43,0.97,0.53,1.26,1.90,5.52,4.05,7.49,0.96,1.16,1.03,0.88,0.61,0.60,0.63,0.47,3.88,0.53,0.89,2.88,0.430000,2.70,1.35,13.52,1.73,17120.97,15919.50,89.57,0.20,15.81,14.98,2.70,88.61,1922.35,31.61,26.34,52.69,63.22,210.750000,158.060,474.190000,316.120,1053.750000,632.25000,526.870,5.25
4851,Gramsh,Albania,4.51,22.53,3.15,1.80,1.80,1.24,1.15,0.53,1.27,0.51,0.90,2.24,4.51,1.80,6.31,0.63,1.08,0.67,0.54,0.36,0.49,0.49,0.45,4.51,0.72,1.08,2.88,0.541111,1.80,1.80,4.51,1.53,16219.87,19824.28,63.49,0.08,13.02,27.03,4.21,104.17,1603.96,22.53,26.79,47.17,100.69,208.415000,125.067,366.069000,219.701,928.021111,550.41625,379.405,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,Kafue,Zambia,3.00,18.37,3.17,1.22,1.50,1.81,0.88,0.47,1.34,0.95,2.00,1.73,9.11,4.18,5.30,2.48,1.49,2.51,1.16,1.23,1.59,1.22,0.92,4.90,0.99,1.26,2.66,1.660000,3.00,0.62,9.19,1.36,8593.28,6444.46,140.69,0.07,103.74,23.82,2.00,171.24,14061.39,12.66,31.12,90.18,105.64,262.010000,168.400,832.640000,439.960,10763.910000,1041.26000,396.940,26.00
1146,Chitungwiza,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,1.000000,5.00,2.00,10.00,1.25,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,196.586667,209.665,534.723333,426.390,1122.050000,1041.26000,311.110,15.00
2731,Masvingo,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.666667,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,30.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,60.000000,209.665,300.000000,150.000,1122.050000,582.52000,311.110,15.00
219,Harare,Zimbabwe,7.00,40.00,6.00,1.30,2.00,2.20,0.72,0.47,1.61,1.00,1.51,1.81,8.08,4.91,4.73,2.90,1.52,1.89,1.39,1.65,1.35,0.76,0.92,8.00,1.18,2.15,2.00,0.500000,5.00,2.00,10.00,1.50,25000.00,27666.67,60.67,0.21,118.75,35.00,6.50,288.89,7087.50,17.78,20.00,40.62,51.43,296.430000,296.000,887.500000,762.500,1344.100000,1500.00000,272.220,15.00
722,Bulawayo,Zimbabwe,3.50,30.00,6.75,1.25,1.80,2.83,0.50,0.47,2.10,1.11,2.62,2.53,10.33,14.00,14.33,2.50,2.06,1.70,1.37,1.40,1.45,1.15,1.23,11.50,1.32,3.00,2.00,0.500000,2.50,0.66,10.00,1.32,25000.00,27666.67,80.00,0.13,55.00,25.00,8.00,178.50,7087.50,30.00,15.00,62.50,65.00,233.330000,123.330,416.670000,366.670,900.000000,1041.26000,350.000,15.00

In [72]:
df_filled1.isnull().sum()

city       0
country    0
x1         0
x2         0
x3         0
x4         0
x5         0
x6         0
x7         0
x8         0
x9         0
x10        0
x11        0
x12        0
x13        0
x14        0
x15        0
x16        0
x17        0
x18        0
x19        0
x20        0
x21        0
x22        0
x23        0
x24        0
x25        0
x26        0
x27        0
x28        0
x30        0
x31        0
x32        0
x33        0
x34        0
x35        0
x36        0
x37        0
x38        0
x39        0
x41        0
x42        0
x43        0
x44        0
x45        0
x46        0
x47        0
x48        0
x49        0
x50        0
x51        0
x52        0
x53        0
x54        0
x55        0
dtype: int64

In [73]:
df_inflation2_filtered

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.040000
1,Afghanistan,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,7.309091
2,Angola,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.350000
3,Albania,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.730000
4,United Arab Emirates,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.220000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Samoa,-0.17,1.89,7.43,4.37,7.85,7.82,3.23,4.48,6.27,14.64,-0.20,2.88,6.19,-0.21,-1.24,1.92,0.13,1.30,4.20,2.19,-1.57,-3.01,8.750000
190,South Africa,5.34,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,10.06,7.26,4.06,5.02,5.72,5.78,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.000000
191,Zambia,26.07,21.24,22.30,21.31,17.96,18.30,9.06,10.64,12.44,13.38,8.50,6.44,6.59,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.990000
192,Zimbabwe,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.940000
198,New Caledonia,1.54,2.32,1.81,1.11,0.84,1.23,2.95,0.98,2.95,0.93,2.70,2.43,1.75,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,1.327273

## Checked for null values of df_inflation2

In [74]:
df_inflation2_filtered.isnull().sum()

country    0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
dtype: int64

## Converted the ipynb files of cost of living and inflation dataframes into excel

In [75]:
import os

In [76]:
current_directory=os.getcwd()
current_directory

'/Users/abdurrahmaan/Desktop/MINOR PROJECT/CODES'

In [77]:
file_name='world_dataset.xlsx'
file_path=os.path.join(current_directory, file_name)

In [78]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [79]:
df_filled1.to_excel(file_path,index=False,engine='openpyxl')

In [80]:
import os

In [81]:
current_directory=os.getcwd()
current_directory

'/Users/abdurrahmaan/Desktop/MINOR PROJECT/CODES'

In [82]:
file_name='inflation1_dataset.xlsx'
file_path=os.path.join(current_directory, file_name)

In [83]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [84]:
df_inflation2_filtered.to_excel(file_path,index=False,engine='openpyxl')